@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/figtree";

@custom-variant dark (&:is(.dark *));

/* ===================== */
/* HOMEPAGE              */
/* ===================== */

.custom-modal-width {
  max-width: 90% !important;
  width: 90%;
}

.homepage-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1900px;
  width: 100%;
  padding: 0 15px;
  position: relative;
  margin: 0 auto;
}

.homepage-wrapper .homepage-carousel {
  display: flex;
  gap: 50px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.homepage-carousel::-webkit-scrollbar {
  display: none;
}

.homepage-carousel.no-transition {
  scroll-behavior: auto;
}

.homepage-carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.homepage-carousel.dragging .homepage-card {
  cursor: grab;
  user-select: none;
}

.homepage-carousel .homepage-card {
  flex: 0 0 333px;
  width: 350px;
  scroll-snap-align: start;
  height: 501px;
  list-style: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homepage-card {
  position: relative;
  overflow: hidden;
}

.homepage-card .homepage-img {
  width: 100%;
  height: 100%;
}

.homepage-card .homepage-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 900px) {
  .homepage-wrapper .homepage-carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .homepage-wrapper .homepage-carousel {
    grid-auto-columns: 110%;
  }
}

/* ===================== */
/* SERVICE               */
/* ===================== */

.service-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1900px;
  width: 100%;
  padding: 0 15px;
  position: relative;
  margin: 0 auto;
}

.service-wrapper .service-carousel {
  display: flex;
  gap: 50px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.service-carousel::-webkit-scrollbar {
  display: none;
}

.service-carousel.no-transition {
  scroll-behavior: auto;
}

.service-carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.service-carousel.dragging .service-card {
  cursor: grab;
  user-select: none;
}

.service-carousel .service-card {
  flex: 0 0 410px;
  width: 350px;
  scroll-snap-align: start;
  height: 501px;
  list-style: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service-card {
  position: relative;
  overflow: hidden;
}

.service-card .service-img {
  width: 100%;
  height: 100%;
}

.service-card .service-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-img {
  display: flex;
  flex-direction: row;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .service-wrapper .service-carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .service-wrapper .service-carousel {
    grid-auto-columns: 110%;
  }
}

.center {
  display: flex;
  justify-content: center; /* Centre verticalement */
  flex-direction: row;
  /*text-align: center;*/
  max-width: 850px;
  font-size: 21px;
  margin: 0 auto; /* Centre horizontalement si nécessaire */
  color: #150e38;
}

.tarifs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 500px;
  padding: 80px 70px 80px 70px;
  border-radius: 20px;
  margin: 15px;
  box-shadow: 7px 7px 5px lightgray;
  transition: transform 0.4s ease-in-out;
}

.tarifs:hover {
  transform: scale(1.03);
  box-shadow: 7.5px 7.5px 5.5px lightgray;
  transition: 0.5s ease;
  cursor: pointer;
}

.tarifs p {
  padding: 50px 0 0 0;
  font-size: 18px;
  align-items: start;
}

.tarifs h3 {
  padding: 20px 0 0 0;
}

.titres {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #150e38;
  font-family: "Grimpt Print Light", sans-serif;
}

.images {
  display: flex;
  align-items: center;
  width: 100%;
}

.image-container {
  position: relative;
  width: 25%;
  display: inline-block;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5fb9a9; /* Fond semi-transparent */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease; /* Effet de transition */
}

.image-container:hover .image-hover {
  opacity: 1; /* Rendre l'overlay visible au survol */
}

.drop-down-menu {
  position: relative;
  display: inline-block;
}

.section {
  display: none;
  position: absolute;
  background-color: #150e38;
  min-width: 165px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  flex-direction: column;
}

.drop-down-menu:hover .section {
  display: flex;
}

.section .nav-link {
  color: white;
  padding: 8px;
  text-decoration: none;
  display: block;
}

.section .nav-link:hover {
  background-color: #575757;
}

.image-hover p {
  padding: 20px;
  font-size: 15px;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.zone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #150e38;
  padding: 50px 0 50px 0;
}

.zone ul {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  max-width: 450px;
}

@media (max-width: 720px) {
  .p-masthead {
    font-size: 25px;
    max-width: 300px;
  }
}

@media (max-width: 960px) {
  .p-masthead {
    font-size: 25px;
    max-width: 300px;
  }
}

.introduction {
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.texte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 550px;
  color: #150e38;
}

.compagnie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.etape {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  color: #150e38;
}

.fonctionnement {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* ===================== */
/* REVIEW                */
/* ===================== */

.review-cards {
  background: #fff9f9;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.review-outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-cards .review-card {
  margin-top: 10rem;
  background: #fff;
  padding: 1.5rem;
  max-width: 30rem;
  border-radius: 0.5rem;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  animation: animate 15s infinite linear;
  animation-delay: calc(3s * var(--delay));
}

.review-profile,
.review-header {
  display: flex;
  align-items: center;
}

.review-header {
  justify-content: space-between;
}

.review-profile {
  margin-bottom: 1rem;
}

.review-profile .review-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 5px;
  background: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.178);
}

.review-profile .review-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.review-profile .review-details {
  margin-left: 10px;
}

.op-star {
  color: #28223f;
  font-size: 1.1rem;
}

.review-outer::hover .review-card {
  animation-play-state: paused;
}

.review-cards .review-card:last-child {
  animation-delay: calc(-3s * var(--delay));
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%,
  20% {
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%,
  40% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0%) scale(1);
  }
  45%,
  60% {
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%,
  100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}

@media (max-width: 467px) {
  .review-card {
    font-size: 10px;
    padding: 0.25rem !important;
    margin: 0.25rem;
  }
}

/* ===================== */
/* VALUES                */
/* ===================== */

.values-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0 0 0;
}

.values-info {
  display: flex;
  flex-direction: row;
}

.values-text {
  max-width: 825px;
  padding-top: 12px;
}

.values-text h3 {
  color: #150e38;
}

.values {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 15px 30px 15px 30px;
  margin: 0 35px 0 35px;
  width: 400px;
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Figtree Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}